<p>usuario-list works!</p>

<table class="table">

<tr>
  <th> ID </th>
  <th>Email</th>
  <th>Primeiro Nome</th>
  <th>Sobrenome</th>
</tr>

<tr *ngFor="let u of usuarios?.data">
  <td> {{ u.id }}</td>
  <td> {{ u.email }}</td>
  <td> {{ u.first_name }}</td>
  <td> {{ u.last_name }}</td>
</tr>

</table>

<p>
  Sem Pipe : {{ dataAtual  }}
</p>

<p>
  Com Pipe : {{ dataAtual | date : "dd/MM/yyyy" }}
</p>

<!-- <p>
  {{ this.usuarios | json }}
</p> -->

<p>
  R$ : {{  2000  }}
</p>

<p>
  {{ 2000 | currency : 'BRL':'symbol':'1.2-2' }}
</p>

<div class="row justify-content-center">

  <div class="col-lg-1">
    <button class="btn btn-primary" (click)="addIdade()" > + </button>
  </div>

  <div class="col-lg-1">
    Idade: {{ idade }}
  </div>

  <div class="col-lg-1">
    <button class="btn btn-primary" (click)="lessIdade()" > - </button>
  </div>
</div>
