<p>primeiro works!</p>

{{ nome }}

<input type="text" #texto [(ngModel)]="nome" >

<p appHighlight > Meu HighLight</p>

<button (click)="mostrarMensagem(texto.value)" >Clique aqui</button>

{{ cursos }}

<ul *ngIf="cursos.length > 3">
  <li *ngFor="let c of cursos" > {{ c }} </li>
</ul>

<div [ngClass]="{ 'alert': true, 'alert-primary' : show, 'alert-danger': false }" [ngStyle]="{ 'font-size': '30px'}" >
  Esssa é minha div
</div>

<!-- <p>
  Curso do Usuário : {{ usuario.curso != null ? usuario.curso.nome : ''  }}
</p> -->

<p>
  Curso do Usuário : {{  usuario.curso?.nome   }}
</p>

<p>
  Curso do usuário : {{  upperCase()  }}
</p>

<app-usuario-list></app-usuario-list>
